<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header"> Categories</h3>
                <ul class="breadcrumb-tree">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active">Blank</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        


            <div class="row">
                <div class="col-md-4">
                   
						<div routerLinkActive = "active" style="cursor: pointer;" routerLink = "/categories/{{c.id}}" *ngFor="let c of categories" class="shop">
							<div class="shop-img">
								<img src="{{c.image}}" alt="">
							</div>
							<div class="shop-body">
								<h3>{{c.title}}<br>Collection</h3>
								<a  class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					
                </div>
                <div class="col-md-8" >
                    <router-outlet></router-outlet>
                </div>
            </div>
            


        
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->