<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Sign Up</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" >
        <div class="col-md-8">

            <div *ngIf="isLoading" style="text-align: center;">
                <br><br>
                <app-loader></app-loader>
                <br><br>
            </div>
            
            <form *ngIf="!isLoading" #form = "ngForm" (ngSubmit)="formSubmit()">
                <div class="form-group row">
                    <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': fname.dirty && fname.errors }" type="text" class="form-control" id="fname" name="fname" #fname="ngModel" required [(ngModel)]="signup.fname">
                        <div class="text-danger" *ngIf="fname.dirty && fname.errors">
                            <small *ngIf="fname.errors.required"> First Name is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': lname.dirty && lname.errors }" type="text" class="form-control" id="lname" name="lname" #lname="ngModel" required [(ngModel)]="signup.lname">
                        <div class="text-danger" *ngIf="lname.dirty && lname.errors">
                            <small *ngIf="lname.errors.required"> Last Name is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lineone" class="col-sm-2 col-form-label"> Address Line 1</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': lineone.dirty && lineone.errors }" type="text" class="form-control" id="lineone" name="lineone" #lineone="ngModel" required [(ngModel)]="signup.lineone">
                        <div class="text-danger" *ngIf="lineone.dirty && lineone.errors">
                            <small *ngIf="lineone.errors.required"> Address Line 1 is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="linetwo" class="col-sm-2 col-form-label"> Address Line 2</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': linetwo.dirty && linetwo.errors }" type="text" class="form-control" id="linetwo" name="linetwo" #linetwo="ngModel" required [(ngModel)]="signup.linetwo">
                        <div class="text-danger" *ngIf="linetwo.dirty && linetwo.errors">
                            <small *ngIf="linetwo.errors.required"> Address Line 2 is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pin" class="col-sm-2 col-form-label"> Pin Code</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': pin.dirty && pin.errors }" type="text" class="form-control" pattern="\d+" id="pin" name="pin" #pin="ngModel" required [(ngModel)]="signup.pin">
                        <div class="text-danger" *ngIf="pin.dirty && pin.errors">
                            <small *ngIf="pin.errors.required"> Pin Code is mandatory</small>
                            <small *ngIf="pin.errors.pattern"> Only Numbers allowed</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-2 col-form-label"> City</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': city.dirty && city.errors }" type="text" class="form-control" id="city" name="city" #city="ngModel" required [(ngModel)]="signup.city">
                        <div class="text-danger" *ngIf="city.dirty && city.errors">
                            <small *ngIf="city.errors.required"> City is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-sm-2 col-form-label"> State</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': state.dirty && state.errors }" type="text" class="form-control" id="state" name="state" #state="ngModel" required [(ngModel)]="signup.state">
                        <div class="text-danger" *ngIf="state.dirty && state.errors">
                            <small *ngIf="state.errors.required"> State is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label"> Country</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': country.dirty && country.errors }" type="text" class="form-control" id="country" name="country" #country="ngModel" required [(ngModel)]="signup.country">
                        <div class="text-danger" *ngIf="country.dirty && country.errors">
                            <small *ngIf="country.errors.required"> Country is mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label"> Email</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': email.dirty && email.errors }" pattern ="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" class="form-control" id="email" name="email" #email="ngModel" required [(ngModel)]="signup.email">
                        <div class="text-danger" *ngIf="email.dirty && email.errors">
                            <small *ngIf="email.errors.required"> Email is mandatory</small>
                            <small *ngIf="email.errors.pattern"> Invalid Email id</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile" class="col-sm-2 col-form-label"> Mobile</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': mobile.dirty && mobile.errors }" pattern="\d{10}" type="text" class="form-control" id="mobile" #mobile="ngModel" name="mobile" required [(ngModel)]="signup.mobile">
                        <div class="text-danger" *ngIf="mobile.dirty && mobile.errors">
                            <small *ngIf="mobile.errors.required"> Mobile is mandatory</small>
                            <small *ngIf="mobile.errors.pattern"> Mobile Number should be 10 be digits</small>
									
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label"> Password</label>
                    <div class="col-sm-10">
                        <input [ngClass]= "{ 'bordered': password.dirty && password.errors }" type="password" class="form-control" id="password" name="password" #password="ngModel" required [(ngModel)]="signup.password">
                        <div class="text-danger" *ngIf="password.dirty && password.errors">
                            <small *ngIf="password.errors.required"> Password is mandatory</small>
                        </div>
                    </div>
                </div>
    
    
                
                <br>
                <button type="submit" [ngClass]= "{ 'disabled': form.invalid}" [disabled]="form.invalid" class="btn " style="background-color: #D10024;">Sign Up</button>
                <br><br>
                <p style="text-align: center;">Already our Customer? &nbsp; <span routerLink="/login" class="signup">Login</span> </p>
            </form>
        </div>
    </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


